body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    height:70vh;
}

.game {
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    background-color: rgb(255, 255, 255);
    height: 18vmin;
    width: 18vmin;
    border-radius: 1cap;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 10vmin;
    color: #001231;
}

.rgb-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(30, 0, 0), rgb(0, 30, 0), rgb(0, 0, 30), rgb(30, 30, 0), rgb(0, 30, 30), rgb(30, 0, 30));
    background-size: 400% 400%; 
    animation: rgbGlow 25s linear infinite; 
    z-index: -1; 
}

@keyframes rgbGlow {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#reset-button{
    padding: 1rem;
    font-size: 1.20rem;
    background-color: #001231;
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-top: 30px;
}

#new-btn{
    padding: 1rem;
    font-size: 1.20rem;
    background-color: #001231;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
    margin-bottom: 20px;
}

.msg-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}
